style.css 
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    background-color: #222;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

.brand {
    color: #fff;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

nav a {
    color: #fff;
    text-decoration: none;
}